@{
	ViewData["Title"] = "Home Page";
	
}

@section Styles{
}

		
		<!-- #masthead .site-header -->
		<!-- Teaser / Slider -->
		<div id="teaser">
			<div class="flexslider loading">
				<ul class="slides">
					<li data-thumb="https://themes.wplook.com/html/charitas/images/temp/slider-thumb1.jpg">
						<img src="https://themes.wplook.com/html/charitas/images/temp/s1.jpg" alt="image allt">
						<div class="flex-caption ">
							<div class="flex-content container_16">
								<div class="grid_16">
									<h1>Buy the WordPress Version</h1>
									<h2>Charitas is a simple and clean but still professional WordPress template that is best suited for Charity, NGO, Foundations, etc. </h2>
									<div class="flex-button"><a class="radius" href="../../../wplook.com/product/themes/non-profit/charitas-charity-nonprofit-wordpress-theme/index6fa8.html?utm_source=Footer-URL&amp;utm_medium=link&amp;utm_campaign=Charitas">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
								</div>
							</div>
						</div>
					</li>
					<li data-thumb="https://themes.wplook.com/html/charitas/images/temp/slider-thumb3.jpg">
						<img src="https://themes.wplook.com/html/charitas/images/temp/s2.jpg" alt="image allt">
						<div class="flex-caption">
							<div class="flex-content container_16">
								<div class="grid_16">
									<h1>Donate and give clean water</h1>
									<h2>Just $20 can provide a person with clean drinking water. 100% funds water projects for people in need.</h2>
									<div class="flex-button"><a class="radius" href="../../../wplook.com/product/themes/non-profit/charitas-charity-nonprofit-wordpress-theme/indexe559.html?utm_source=Menu-HTML-URL&amp;utm_medium=link&amp;utm_campaign=Charitas">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
								</div>
							</div>
						</div>
					</li>
					<li data-thumb="https://themes.wplook.com/html/charitas/images/temp/small-11.jpg">
						<img src="https://themes.wplook.com/html/charitas/images/temp/s3.jpg" alt="image alt">
						<div class="flex-caption">
							<div class="flex-content container_16">
								<div class="grid_16">
									<h1>Let's build something incredible</h1>
									<h2>Help build a future for 12,000 schoolchildren. Become part of the Madagascar Schools Appeal.</h2>
									<div class="flex-button"><a class="radius" href="../../../wplook.com/product/themes/non-profit/charitas-charity-nonprofit-wordpress-theme/indexe559.html?utm_source=Menu-HTML-URL&amp;utm_medium=link&amp;utm_campaign=Charitas">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
								</div>
							</div>
						</div>
					</li>
					<li data-thumb="https://themes.wplook.com/html/charitas/images/temp/slider-thumb4.jpg">
						<img src="https://themes.wplook.com/html/charitas/images/temp/s4.jpg" alt="image allt">
						<div class="flex-caption">
							<div class="flex-content container_16">
								<div class="grid_16">
									<h1>Give water give life</h1>
									<h2>$3 a month could help stop children dying from drinking dirty water</h2>
									<div class="flex-button"><a class="radius" href="../../../wplook.com/product/themes/non-profit/charitas-charity-nonprofit-wordpress-theme/indexe559.html?utm_source=Menu-HTML-URL&amp;utm_medium=link&amp;utm_campaign=Charitas">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>


		<div id="main" class="site-main container_16">
			<div class="inner">

				<!-- First widget areea -->
				<div class="grid_12 first-home-widget-area">
					<aside id="flexlatestnews" class="WPlookLatestNews flex-container-news">
						<div class="widget-title mright mleft">
							<h3>Featured News</h3>
							<div class="clear"></div>
						</div>

						<div class="latestnews-body flexslider-news">
							<ul class="slides">
								<li>
									<div class="image fright"><img class="radius" src="https://themes.wplook.com/html/charitas/images/temp/big-10.jpg" alt="Image alt"></div>
									<div class="content fleft">
										<h3>Common Green Turtle: Natural History Notebooks</h3>
										<p class="category">Reptiles</p>
										<p class="description">As if the NBA star didn't have enough on his mind, Chael Sonnen decides to call him some names.As if the NBA star didn't have enough on his mind, Chael Sonnen decides to call him some names.As if the NBA star didn't have enough on his mind.</p>
										<div class="flex-button-red"><a class="radius" href="https://themes.wplook.com/html/charitas/07-press-single.html">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
									</div>
									<div class="clear"></div>
								</li>
								<li>
									<div class="image fright"><img class="radius" src="https://themes.wplook.com/html/charitas/images/temp/big-05.jpg" alt="Image alt"></div>
									<div class="content fleft">
										<h3>Organising a Charity Parachute Jump</h3>
										<p class="category">Charity</p>
										<p class="description">You may have to undergo some training in order to perform your parachute jump – otherwise, you will not be permitted to jump on your own. However, even a tandem jump with a licensed parachuting instructor works great as a fundraiser.</p>
										<div class="flex-button-red"><a class="radius" href="https://themes.wplook.com/html/charitas/07-press-single.html">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
									</div>
									<div class="clear"></div>
								</li>
							</ul>

						</div>
					</aside>
				</div>


				<!-- Second widget areea -->
				<div class="grid_4 second-home-widget-area">
					<aside id="wpltfbd-2" class="widget WPlookCauses">
						<div class="widget-title">
							<h3>Events</h3>
							<div class="viewall fright"><a href="https://themes.wplook.com/html/charitas/04-event-list.html" class="radius" title="View all chauses">view all</a></div>
							<div class="clear"></div>
						</div>

						<div class="widget-event-body">
							<article class="event-item">
								<figure>
									<a title="Image title" href="#">
										<img width="272" height="150" src="https://themes.wplook.com/html/charitas/images/temp/slider-thumb2.jpg" class="wp-post-image" alt="Image alt">
										<div class="mask radius">
											<div class="mask-square"><i class="fa fa-link" aria-hidden="true"></i></div>
										</div>
									</a>
								</figure>
								<h3 class="entry-header">
									<a title="Change a Life Through Education Lorem Ipsum dolar sit and dolar" href="https://themes.wplook.com/html/charitas/05-event-single.html">Supporting a day centre</a>
								</h3>

								<div class="entry-meta-widget">
									<div class="date"><time datetime="2018-04-25T19:02:42+00:00"><i class="fa fa-calendar" aria-hidden="true"></i> June 29, 2018</time></div>
									<div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> <a href="#">51 Sherbrooke W., Montreal</a></div>
									<div class="facebook"><i class="fa fa-facebook-official" aria-hidden="true"></i> <a href="#">Facebook</a></div>
								</div>

							</article>
						</div>
					</aside>
				</div>


				<!-- Third widget areea -->
				<div class="grid_16 third-home-widget-area">
					<aside id="wpltfbs-f2w" class="widget WPlookCauses">
						<div class="widget-title">
							<h3>Latest Causes</h3>
							<div class="viewall fright"><a href="https://themes.wplook.com/html/charitas/02-causes-list.html" class="radius" title="View all chauses">view all</a></div>
							<div class="clear"></div>
						</div>

						<div class="widget-causes-body">
							<!-- First cause -->
							<article class="cause-item">
								<figure>
									<a title="Image title" href="https://themes.wplook.com/html/charitas/03-causes-single.html">
										<img width="272" height="150" src="https://themes.wplook.com/html/charitas/images/temp/small-01.jpg" class="wp-post-image" alt="Image alt">
										<div class="mask radius">
											<div class="mask-square"><i class="fa fa-tint" aria-hidden="true"></i></div>
										</div>
									</a>
								</figure>
								<h3 class="entry-header">
									<a title="Change a Life Through Education Lorem Ipsum dolar sit and dolar" href="#">Our Work with refugees</a>
								</h3>

								<div class="short-description">
									<p>Supporting 160 underprivileged children, mostly orphans and victims of HIV/AIDS, that visit daily the day centre: Centre Reborn for Hope. ALG finances feeding and education support.</p>
								</div>
							</article>

							<!-- Second Cause -->
							<article class="cause-item">
								<figure>
									<a title="Image title" href="https://themes.wplook.com/html/charitas/03-causes-single.html">
										<img width="272" height="150" src="https://themes.wplook.com/html/charitas/images/temp/small-02.jpg" class="wp-post-image" alt="Image alt">
										<div class="mask radius">
											<div class="mask-square"><i class="fa fa-tint" aria-hidden="true"></i></div>
										</div>
									</a>
								</figure>
								<h3 class="entry-header">
									<a title="Change a Life Through Education Lorem Ipsum dolar sit and dolar" href="https://themes.wplook.com/html/charitas/03-causes-single.html">Change a Life Through Education</a>
								</h3>

								<div class="short-description">
									<p>
										Education provides children with opportunities to escape poverty, gain a voice in their community and experience a better quality of life.
										But worldwide, more than 120 million children.
									</p>
								</div>
							</article>

							<!-- Third Cause -->
							<article class="cause-item">
								<figure>
									<a title="Image title" href="https://themes.wplook.com/html/charitas/03-causes-single.html">
										<img width="272" height="150" src="https://themes.wplook.com/html/charitas/images/temp/slider-thumb2.jpg" class="wp-post-image" alt="Image alt">
										<div class="mask radius">
											<div class="mask-square"><i class="fa fa-tint" aria-hidden="true"></i></div>
										</div>
									</a>
								</figure>
								<h3 class="entry-header">
									<a title="Change a Life Through Education Lorem Ipsum dolar sit and dolar" href="https://themes.wplook.com/html/charitas/03-causes-single.html">Supporting a day centre</a>
								</h3>

								<div class="short-description">
									<p>Supporting 160 underprivileged children, mostly orphans and victims of HIV/AIDS, that visit daily the day centre: Centre Reborn for Hope. ALG finances feeding and education support.</p>
								</div>
							</article>

							<!-- Forth Cause -->
							<article class="cause-item">
								<figure>
									<a title="Image title" href="https://themes.wplook.com/html/charitas/03-causes-single.html">
										<img width="272" height="150" src="https://themes.wplook.com/html/charitas/images/temp/small-03.jpg" class="wp-post-image" alt="Image alt">
										<div class="mask radius">
											<div class="mask-square"><i class="fa fa-tint" aria-hidden="true"></i></div>
										</div>
									</a>
								</figure>
								<h3 class="entry-header">
									<a title="Change a Life Through Education Lorem Ipsum dolar sit and dolar" href="https://themes.wplook.com/html/charitas/03-causes-single.html">Feeding the Hungry in South Africa</a>
								</h3>

								<div class="short-description">
									<p>South Africa produces enough food to feed it's population yet 20% of South Africans are food insecure. FoodBank rescues food destined for landfill from food suppliers.</p>
								</div>
							</article>

						</div>
					</aside>
				</div>

				<!-- Forth widget areea -->
				<div class="grid_16 forth-home-widget-area">
					<aside id="wpltfbf-2" class="widget WPlookAnounce radius">
						<div class="announce-body mright mleft">
							<div class="margin">
								<h1>Change Their World. Change Yours. This changes everything.</h1>
								<h3>A volunteer trip abroad with Cross-Cultural Solutions will change you. <br /> Change the way you see other cultures. Maybe even change how you live your life. </h3>
							</div>
						</div>
					</aside>
				</div>

				<!-- Fifth Widget area -->
				<div class="grid_16 fifth-home-widget-area">
					<aside id="wpltfbe-2" class="widget WPlookStaff">
						<div class="widget-title">
							<h3>Meet our Staff</h3>
							<div class="viewall fright"><a href="https://themes.wplook.com/html/charitas/08-staff.html" class="radius">view all</a></div>
							<div class="clear"></div>
						</div>

						<div class="staff-body">

							<!-- First canditate -->
							<div class="candidate grid_4">
								<div class="candidate-margins">
									<a href="https://themes.wplook.com/html/charitas/09-staff-single.html">
										<img width="200" height="210" src="https://themes.wplook.com/html/charitas/images/temp/candidate1.png" class="wp-post-image" alt="Image alt">
										<div class="name">John Black</div>
										<div class="position">president</div>
									</a>
								</div>
							</div>

							<!-- Second canditate -->
							<div class="candidate grid_4">
								<div class="candidate-margins">
									<a href="https://themes.wplook.com/html/charitas/09-staff-single.html">
										<img width="200" height="210" src="https://themes.wplook.com/html/charitas/images/temp/candidate2.png" class="wp-post-image" alt="Image alt">
										<div class="name">Anna Doe</div>
										<div class="position">ceo</div>
									</a>
								</div>
							</div>

							<!-- Third canditate -->
							<div class="candidate grid_4">
								<div class="candidate-margins">
									<a href="https://themes.wplook.com/html/charitas/09-staff-single.html">
										<img width="200" height="210" src="https://themes.wplook.com/html/charitas/images/temp/candidate3.png" class="wp-post-image" alt="Image alt">
										<div class="name">John Smith</div>
										<div class="position">ceo</div>
									</a>
								</div>
							</div>

							<!-- Forth canditate -->
							<div class="candidate grid_4">
								<div class="candidate-margins">
									<a href="https://themes.wplook.com/html/charitas/09-staff-single.html">
										<img width="200" height="210" src="https://themes.wplook.com/html/charitas/images/temp/candidate4.png" class="wp-post-image" alt="Image alt">
										<div class="name">John Black</div>
										<div class="position">accountant</div>
									</a>
								</div>
							</div>
							<div class="clear"></div>
						</div>
					</aside>

				</div>
				<div class="clear"></div>

			</div>
		</div>

		

@section Scripts {

}